*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 120vh;
}


body{
    text-align: center;
    min-width: 390px;
    height:100%;
    background: url('./images/background.avif') no-repeat center center fixed;
    background-size:cover;
    background-attachment: fixed;
    color: whitesmoke;
    font-family: 'Caveat', cursive;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 
    'header'
    'container'
    'footer';
}


h2{
    font-size: 6vw;
}

h3{
    font-size: 3vw;
    padding:40px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 20px;
    line-height: 20px;
}

.home-btn{
    width:50px;
    position: fixed;
    left: 10px;
    bottom:10px;
}

.home-btn img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header,
footer{
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 100px;
}

header h2{
    font-size: 40px;
}
header{
    line-height:50px;
    grid-area: header;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100px;
}

header a img{
    width:40px;
}
header a img:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s;
}

footer{
    grid-area: footer;
    font-size: 3vw;
}

.main-container{
    position: relative;
    grid-area: container;
    width:100%;
    height:100%;

    /* display:flex;
    flex-direction: column; */
}

.container{
    width:100%;
    height:100%;
    display: flex ;
    flex-direction: column;
}

.picture-container img{
    width:100%;
    max-height: 100%;

}

.picture-container,
.links-container{
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.links-container{
  padding: 25px 20px;
  text-shadow: 1px 1px rgb(0, 0, 0);
}

.images-container{
    position: absolute;
    left: 0;
    bottom: 0;
    width:100%;
    min-width: 400px;
    max-height: 100%;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 2fr;
}

.images-container a{
    width: 100%;
    height: 100%; 
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

.images-container a:hover{
    opacity: 1;
}

/* 
.hidden{
    display: none;
} */




.rome-link{
    grid-column: 1 / 3;
}
.tech-link{
    grid-column: 2 / 4;
}

/* .london-img{
    object-fit:fill;
    object-position:50px; 
}*/

.images-container a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: solid 3px whitesmoke;
    border-radius: 5px;
}

.hidden{
    display: none;
}


/*music*/

audio{
    width:200px;
    height:20px;
}



audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-enclosure-button{
    display: none;
  }
 


.music-container{
    background: rgba(0, 0, 0, 0.6);
    padding:30px;
    height: 100%;
    width:100%;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.music-container h3{
    margin: 10px 0 0px 0;
    padding: 0;
}
.music-content{
    max-width: 100%;
    display:flex;
    flex-direction: column;
}


.image-songs{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}
.image-container{
    width:50%;
    
}

.me-playing{
    width: 100%;
    height:100%;
    border-radius: 5px;
    object-fit: cover;
}

.songs div{
    width:100%;
    height:20%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*rome*/

.rome-container{
    margin: 0 auto;
    width:100%;

    background: rgba(0, 0, 0, 0.6);
}

.rome-image{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.rome-pic-container{
    width:80%;
    max-width: 500px;
    margin: 0 auto;
}

.rome-pic{
    margin: 0 auto;
    border-radius: 5px ;
    width:100%;
    height:80%;
    object-fit: cover;
}





@media (min-width:800px){

    header{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        line-height: 100px;
        padding: 0 60px;
    }

    .home-btn{
        width:80px;
        left: 15px;
        bottom:15px;
    }


    .links{
        margin-top: 30px;
    }

    header a img{
        width:60px;
    }
  
    .container{
        flex-direction: row;
        align-items: center;
    }

    .picture-container{
        border-bottom:solid 6px hsla(0, 0%, 96%, 0.6);
        border-radius: 0 0 6px 6px;
        overflow: hidden;
    }

    .picture-container img{
        width: 150%;
        height:100%;
        object-fit: cover;
        margin-left: -20%;
    }

    .links-container{
        border-top:solid 6px hsla(0, 0%, 96%, 0.6);
        border-radius:6px 6px 0 0;
    }
   
    .images-container{
        grid-template-columns:repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
    
    }


    .rome-link{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .tech-link{
        grid-column:2/4;
        grid-row: 2/3;
    }

    .music-img{
        object-fit: cover;
    }

    .image-songs{
        justify-content: space-around;
        height:400px;
    }

    .songs div{
        height:20%;
    }

    audio{
        width:250px;
        height:30px;
    }

    .rome-image{
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .rome-image p{
        display: block;
        margin: 0 auto;
        max-width:400px;
    }

    .rome-pic-container{
        max-width:400px;
    }
    

   
    

}

@media (min-width:900px){
    footer{
        background-color: rgba(0, 0, 0, 0.8);
    }
    .rome-image p{
        max-width:600px;
    }

    .rome-pic-container{
        max-width:600px;
    }
    
}